<nav class="navbar navbar-dark bg-dark">




  <div class="container">

<h1>
  <button class="btn btn-outline-light" routerLink="home">Home</button> |
  <button class="btn btn-outline-light" routerLink="entry">Entry</button> |
  <button class="btn btn-outline-light" routerLink="view">View</button> |
  <button class="btn btn-outline-light" routerLink="aboutus">Aboutus</button> |
  <button class="btn btn-outline-light" routerLink="contactus">Contact Us</button>|
  <button class="btn btn-outline-light" routerLink="login">Login</button>
  <button class="btn btn-outline-light" routerLink="apiview">Api Data View</button>


</h1>


  </div>
</nav>


<router-outlet></router-outlet>
